@mixin font-mulish {
  font-family: 'Mulish', sans-serif;
}

@mixin font-nunito {
  font-family: 'Nunito', sans-serif;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-icon($icon) {
  display: flex;
  column-gap: 0.8rem;

  &::before {
    content: url($icon);
  }
}
