@use 'tools' as mixins;
@use 'settings' as colors;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

html,
body {
  @include mixins.font-mulish;
  font-size: 62.5%;
  color: colors.$gray;
}

body {
  min-height: 100vh;
}
