<div class="contact-details">
  <h3 class="title">Contact details</h3>

  <p>Feel free to contact us by phone, email or by our contact form</p>

  <p class="location">9748 Blossom Hill Rd undefined Lansing, Idaho 68545 United States</p>

  <ul class="phones-box">
    <li class="phone">Tel (business hours) : 269 1500</li>
    <li class="phone">Tel (hotline) Monday - Saturday: 52-56-61-38 (08:00 am – 20:00 pm)</li>
    <li class="phone">Tel (hotline) Sunday: 52-56-61-38 (08:00 am – 14:00 pm)</li>
  </ul>

  <p class="mail">cherly.lawson@example.com</p>
</div>
