<footer class="footer-wrapper">
  <div class="main">
    <figure class="logo">
      <img src="/assets/images/logo-vertical.png" alt="logo" />
    </figure>

    <ul class="list-box">
      <h3 class="title">All Categories</h3>

      <li class="listitem _padding-top-big">All Deals</li>
      <li class="listitem">Hotels</li>
      <li class="listitem">Activities</li>
      <li class="listitem">Spa Packages</li>
      <li class="listitem">Hotel Day Packages</li>
      <li class="listitem">Restaurants</li>
      <li class="listitem">Fitness</li>
      <li class="listitem">Rodrigues</li>
    </ul>

    <div>
      <ul class="list-box">
        <h3 class="title">Additional Information</h3>

        <li class="listitem _padding-top-big">About Us</li>
        <li class="listitem">Contact Us</li>
        <li class="listitem">How does it work?</li>
        <li class="listitem">Frequently Asked Questions</li>
        <li class="listitem">Deals.mu loyalty program</li>
        <li class="listitem">Promote your Business on BTP</li>
      </ul>

      <figure class="social-network _padding-top-big">
        <figcaption class="title"><h3>Social Network</h3></figcaption>

        <img class="image" src="/assets/images/facebook.svg" alt="Facebook icon" />
        <img class="image" src="/assets/images/youtube.svg" alt="Youtube icon" />
        <img class="image" src="/assets/images/instagram.svg" alt="Instagram icon" />
      </figure>
    </div>

    <ul class="list-box">
      <h3 class="title">Legal Information</h3>

      <li class="listitem _padding-top-big">Terms & Conditions</li>
      <li class="listitem">Disclaimer</li>
      <li class="listitem">Cancellation policy</li>
      <li class="listitem">Privacy</li>
    </ul>
  </div>
  <app-contact-details></app-contact-details>
  <app-contact-form></app-contact-form>
  <app-footer-bottom class="bottom"></app-footer-bottom>
</footer>
