._margin-top-medium {
  margin-top: 5rem !important;
}

._padding-medium {
  padding: 1.3rem !important;
}

._padding-top-big {
  padding-top: 3rem !important;
}

._width-100 {
  width: 100% !important;
}
