<header class="nav-bar">
  <app-nav-top></app-nav-top>
  <div class="main">
    <a class="logo" href="#"><img src="/assets/images/logo.png" alt="Logo" /></a>

    <form class="form-search-location">
      <input type="text" class="input" placeholder="Search Location" />
      <button class="btn"><img src="/assets/images/search.svg" alt="Search icon" /></button>
    </form>
    <figure data-count="2" class="cart-box">
      <img src="/assets/images/shopping-cart.svg" alt="Cart icon" />
    </figure>

    <div class="profile-box">
      <img src="/assets/images/profile.png" alt="User image" class="profile" />
      <p class="name">Nathan</p>
    </div>
  </div>
  <nav class="navigation-box">
    <a href="#" class="link">All deals</a>
    <a href="#" class="link">Hotels</a>
    <a href="#" class="link">Activities</a>
    <a href="#" class="link">Hotel day packages</a>
    <a href="#" class="link">Restaurants</a>
    <a href="#" class="link">Events</a>
    <a href="#" class="link">Rodrigues</a>
  </nav>
  <app-active-route></app-active-route>
</header>
