@use 'settings' as colors;
@use 'tools';

.nav-bar {
  & > .main {
    @include tools.padding-y-default;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.form-search-location {
  flex-basis: 30%;
  display: flex;
  border-radius: 0.6rem;
  margin-right: 20rem;

  & > .input {
    color: colors.$gray;
    background-color: colors.$blue-light;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    padding-left: 1rem;
    flex: 1;
  }

  & > .btn {
    padding: 0.7rem 2rem;
    background-color: colors.$second;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

.cart-box {
  position: relative;
  display: flex;

  &::after {
    content: attr(data-count);
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: colors.$second;
    border-radius: 50%;
    color: colors.$white;
    font-size: 1rem;
  }
}

.profile-box {
  display: flex;
  align-items: center;
  column-gap: 1.4rem;

  & > .name {
    font-size: 1.4rem;
  }

  &::after {
    content: url('/assets/images/chevron-down.svg');
  }
}

.navigation-box {
  @include tools.padding-y-default;

  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 6rem;
  color: colors.$white;
  background-color: colors.$first;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    color: inherit;
    font-size: 1.4rem;
    font-weight: bold;
  }

  & > .link {
    text-transform: uppercase;
  }
}
