@use 'settings' as colors;

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    column-gap: 1.5rem;
    color: colors.$white;

    & > * {
      font-size: 1.2rem;
    }
  }
}
