<div class="package-summery _margin-top-medium">
  <h2 class="title">Package Summery</h2>

  <div class="panel-box">
    <div class="package-highlights">
      <p class="title">Package Highlights</p>
      <ul class="list _padding-medium">
        <li class="list-item-package">Half Board/ All Inclusive</li>
        <li class="list-item-package">Luxurious 5-Star Hotel</li>
        <li class="list-item-package">Child Under 11 Years Stay Free</li>
        <li class="list-item-package">Banyan An Adult Only Zone</li>
        <li class="list-item-package">LUX* Me Spa</li>
      </ul>
    </div>

    <div class="offer-details">
      <p class="title">Offer Details</p>
      <ul class="list _padding-medium">
        <li class="list-item-package -align-start">
          Benefit from a special discounted CHILL’OUT OFFER at Grand Hilton Hotel.
        </li>

        <li class="list-item-package -calendar itemcalendar">10th March - 30th April 2020</li>

        <li class="list-item-package -footer"><em>* Valid until 30 April 2020</em></li>
      </ul>
    </div>

    <div class="summery summery-details">
      <p class="title">Package Summery Details</p>
      <div class="container _padding-top-big">
        <ul class="list">
          <li class="list-title-package">Purchase Inclusions</li>
          <li class="list-item-package _width-100">Room as per selection</li>
          <li class="list-item-package _width-100">Half Board or All Inclusive Meal Plan</li>
          <li class="list-item-package _width-100">Complimentary Land & Water activities</li>
          <li class="list-item-package _width-100">Child Under 11 years old stays free</li>
          <li class="list-item-package">Free Wi-Fi</li>
          <li class="list-item-package _width-100">Free Secure Parking</li>
        </ul>

        <ul class="list">
          <li class="list-title-package">Complimentary Land Based Activities</li>
          <li class="list-item-package">Gym</li>
          <li class="list-item-package">Beach Volley</li>
          <li class="list-item-package">Table tennis</li>
          <li class="list-item-package">Soccer balls</li>
          <li class="list-item-package">Yoga</li>
          <li class="list-item-package _width-100">Unlimited access to driving range</li>
        </ul>

        <ul class="list">
          <li class="list-title-package">Complimentary Water Based Activities</li>
          <li class="list-item-package">Water skiing</li>
          <li class="list-item-package">Windsurfing</li>
          <li class="list-item-package">Pedal boats</li>
          <li class="list-item-package">Kayaking</li>
          <li class="list-item-package">Aqua Gym</li>
          <li class="list-item-package _width-100">Glass bottom boat trips</li>
        </ul>

        <ul class="list">
          <li class="list-title-package">Meal Plan Available</li>
          <li class="list-item-package">Half Board</li>
          <li class="list-item-package">All Inclusive</li>
        </ul>

        <ul class="list">
          <li class="list-title-package">Entertainment</li>
          <li class="list-item-package">Live music</li>
          <li class="list-item-package _width-100">DJ & Mauritian Dance Show</li>
        </ul>

        <ul class="list">
          <li class="list-title-package">Check In & Check Out</li>
          <li class="list-item-package _width-100">Check In Time 14:00</li>
          <li class="list-item-package _width-100">Check Out Time 11:00</li>
        </ul>
      </div>
    </div>
  </div>
</div>
