@use 'settings' as colors;

.nav-top {
  background-color: colors.$blue-light;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  & > .helptext {
    margin-right: 40rem;
  }

  & > .link {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    &.-gifticon::before {
      content: url('/assets/images/gift.svg');
    }

    &.-staricon::before {
      content: url('/assets/images/star.svg');
    }
  }
}
